body {
        font-family: Arial, sans-serif;
        background-color: #f0f0f0;
    }

    h1 {
        color: #333;
        text-align: center;
    }


    
    .container {
        width: 80%;
        margin: 0 auto;
        padding: 20px;
        background-color: white;
	text-align: center;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }